body {
  font: 1rem/1.6 Open Sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  color: #000;
  font-family: "Noto Sans", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    sans-serif;
}
