/* Typing animation for logo */
.typed-out {
  overflow: hidden;
  border-right: 0.15em solid grey;
  white-space: nowrap;
  animation: typing 1.5s steps(13, end) forwards, blinking 1.05s infinite;
  padding-right: 0.1em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: grey;
  }
}