/* Typography */
body {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);
}

/* content */
.first-entry .entry-header h1 {
  font-family: "Merriweather", Georgia, serif;
}
.first-entry .entry-content {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.post-content {
  font-family: "Merriweather", Georgia, serif;
  font-size: medium;
  line-height: 1.8rem;
  font-weight: lighter;
}

code,
pre,
.highlight code,
.post-content code {
  font-family: "Noto Sans Mono", "Courier New", Courier, monospace;
  font-weight: 500;
}

/* footer */
.footer,
.top-link {
  font-size: 14px;
  color: var(--secondary);
}

/* logo */
.logo a {
  font-size: 26px;
}

/* menu */
#menu a {
  font-size: 18px;
}

/* copy code button */
.copy-code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: inline-flex;
}

.copy-code svg {
  pointer-events: none;
}
