/* Typography */
body {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);
}

/* content */
.first-entry .entry-header h1 {
  font-family: "Merriweather", Georgia, serif;
}
.first-entry .entry-content {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.post-content {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

/* footer */
.footer,
.top-link {
  font-size: 14px;
  color: var(--secondary);
}

/* logo */
.logo a {
  font-size: 26px;
}

/* menu */
#menu a {
  font-size: 18px;
}

/* Dark theme code blocks */
:root[data-theme="dark"] code {
  background-color: rgba(255, 255, 255, 0.15);
}

:root[data-theme="dark"] pre {
  background-color: rgba(255, 255, 255, 0.15);
}
